html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E8D2AE;
}

.hb-main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px solid black;
}

.hb-header {
    display: flex;
    margin: 0;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #CB8589;
    box-shadow: 0 35px 10px 5px rgba(0,0,0,0.5);
}

.nav-bar {
    display: flex;
    height: 40px;
    background-color: #796465;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    height: 30px;
    width: 50%;
    background-color: #796465;
    justify-content: space-between;
    align-items: center;
    border: 0px solid black;
}

.main-links {
    color: #DDE8B9;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.main-links:hover {
    color: #CB8589;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.hb-inner-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    border: 0px solid black;
}

.inner-content-title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
}

.card-container {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(167, 37, 37);
}

.detail-img-container {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid rgb(167, 37, 37);
}

.detail-item {
    display: flex;
    flex: 1;
    padding: 5px;
    justify-content: left;
    align-items: center;
    border: 0px solid black;
}

.go-right {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    font-weight: bold;
}

.price-tag {
    font-weight: bold;
    font-size: 1.25rem;
    color: red;
}

.detail-content {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.saddle-card {
    padding: 5px;
    width: 150px;
    margin: 5px;
    border: 1px solid black;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hb-footer {
    color: #F6F1F1;
    margin: 0 auto;
    background-color: #796465;
    padding: 10px;
    text-align: center;
}